<h1>Home Page</h1>

    <label for="first_name">first name: </label>
    <input id="first_name" name="first_name" type="text" placeholder="Enter First Name" />
    </br>
    <label for="last_name">last name: </label>
    <input id="last_name" name="last_name" type="text" placeholder="Enter Last Name" />
    </br>
    <label for="email">email: </label>
    <input id="email" name="email" type="text" placeholder="Enter Email" />
    </br>
    <label for="phone">phone: </label>
    <input id="phone" name="phone" type="text" placeholder="Enter Phone" />
    </br>
    </br>
    <button id="new">New contact</button>
    <br>


 <!-- make a form with the inputs -->


  <button id="list">List All Contacts</button>
  <div id="contacts">

  </div>

 <label for="search">search: </label>
 <input id="searchinput" name="search" type="text" placeholder="id to search" />
 <button id="search">ID search</button>
  <div id="find"> 

  <label for="detailsearch">detailsearch: </label>
  <input id="searchbytext" name="searchbytext" type="text" placeholder="text to search" />
  <button id="textsearch">Text search</button>
  <div id="searchdetail"> 

</div>